/* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    appearance: none; 
    background-color: transparent;  
    box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
    cursor: pointer;
    display: inline-block;
    font-family: var(--alt-font-family-one);
    font-size: 0.6em;
    font-weight: var(--root-font-weight);
    /*height: 4.8125em;*/
    letter-spacing: 0.175em;
    /*line-height: 4.8125em;*/
    text-align: center;
    text-transform: uppercase;
    /*white-space: nowrap;*/
    & a {
      border: 0;
      color: rgba(248, 248, 248, 1);
      display: block;
      padding: 1.1rem 2.5em;
      text-decoration: none; 
      transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease; 
    }
  }
  .button__bg-solid {
    background-color: var(--primary-root-color-one); 
    box-shadow: inset 0 0 0 1px rgba(41, 18, 49, 1);
    cursor: pointer;
    display: inline-block;
    font-family: var(--alt-font-family-one);
    font-size: 0.6em;
    font-weight: var(--root-font-weight);
    /*height: 4.8125em;*/
    letter-spacing: 0.175em;
    /*line-height: 4.8125em;*/
    text-align: center;
    text-transform: uppercase;
    & a {
      border: 0;
      color: var(--primary-root-color-three);
      display: block;
      padding: 1.1rem 2.5em;
      text-decoration: none; 
      transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
      &:hover {
        background-color: rgba(245, 207, 46, 1);
      }
    }
  }