.single-product {
  lost-column: 1;
  background-color: rgba(78, 39, 96, 1);
  margin-bottom: 1.1rem;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: 0;
  @media (--medium) {
    min-height: 360px;
    /*lost-column: 1/2;*/
    /*overflow: hidden;*/
    /*padding: 0.625rem;*/
  }
  & .swiper-container {
    margin: 0;
    & .swiper-button-next {
      /*right: 48px;*/
    }
  }
}