h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family:);
}
h1 {
  font-size: responsive 1.5rem 2.125rem;
}
h2 {
  font-size: responsive 1.375rem 1.625rem;
}
h3 {
  font-size: responsive 1rem 1.25rem;
}
h4 {
  font-size: responsive 0.875rem 1rem;
}
h5 {
  font-size: responsive 0.75rem .875rem;
}
h6 {
  font-size: responsive 0.675rem 0.75rem;
}