blockquote {
  background: #291231;
  border-left: 6px solid #4e2760;
  font-family: var(--alt-font-family-two);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &.heading {
    font-size: 2rem;
  }
}
blockquote:before {
  color: var(--primary-root-color-one);
  content: open-quote;
  font-family: var(--root-font-family);
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}