/* ********** @section global settings ********** */
  @lost gutter 1.875rem;

/* ********** @section variables ********** */
  :root {
    --root-background-color: rgba(51, 22, 61, 1);
    --root-box-sizing: border-box;
    --root-color: rgba(255, 255, 255, 1);
    --root-cursor: default;
    --root-font-size: 100;
    --root-line-height: 1.2;
    --root-link-color: rgba(254, 214, 48, 1);
    --root-font-size: 16px;
    --root-font-family: 'Source Sans Pro', sans-serif;
    --root-font-weight: 400;

    --primary-root-color-one: rgba(78, 39, 96, 1);
    --primary-root-color-two: rgba(254, 214, 48, 1);
    --primary-root-color-three: rgb(184, 154, 80);
    --alt-font-weight-one: 700;
    /*--alt-font-weight-two: 700;*/
    
    --heading-font-family: 'Source Sans Pro', sans-serif !important;
    --alt-font-family-one: 'Ubuntu Condensed', sans-serif !important;
    --alt-font-family-two: 'Mr De Haviland', cursive !important;

    /* ********** @section elements ********** */
      --anchor-text-decoration: none;
      --form-element-background-color: transparent;
      --media-element-vertical-align: middle;
      --nav-list-style: none;
    /* @close elements */

    /* ********** @section selection ********** */
      --selection-background-color: rgba(167,111,208,0.8);
      --selection-color: rgba(78, 39, 96, 1);
      --selection-text-shadow: rgba(51, 51, 51, 1);
    /* @close selection */

    /* ********** @section grid ********** */
      --grid-gutter-width: .9375rem; /*15px*/
      --spacing-unit--sm: 0.625rem; /*10px*/
      --spacing-unit--md: 1.25rem; /*20px*/
      --spacing-unit--lg: 1.875rem; /*30px*/
    /* @close grid */
  }
/* @close variables */