/* ********** @section visibility ********** */
  /*Hide from both screenreaders and browsers: h5bp.com/u*/
  @define-mixin hidden {
      display: none;
      visibility: hidden;
  }

  @define-mixin shown {
    display: block;
    visibility: visible;
  }
  /*Accessible Visibility – Hide only visually, but have it available for screenreaders: h5bp.com/v*/
  @define-mixin visuallyhidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
/* @close visibility */