/* ********** @section visibility ********** */
  /*Hide from both screenreaders and browsers: h5bp.com/u*/
  @define-mixin hidden {
      display: none !important;
      visibility: hidden !important;
  }

  @define-mixin shown {
    display: block !important;
    visibility: visible !important;
  }
  /*Accessible Visibility – Hide only visually, but have it available for screenreaders: h5bp.com/v*/
  @define-mixin visuallyhidden {
      border: 0 !important;
      clip: rect(0 0 0 0) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
  }
/* @close visibility */