




<div class="add-to-cart">
  <a href="#"
  class="snipcart-add-item"
  data-item-id="{{ .id }}"
  data-item-name="{{ .title }}"
  data-item-description=""
  data-item-image=""
  data-item-price="{{ .price }}"
  data-item-quantity = "1"
  data-item-weight="{{ .weight }}"
  data-item-url="{{ .url }}"

{{ $counter := len .items }}
{{- range $index, $map := .items -}}

  {{ if and (ge $counter 1) (le $counter 5) }}
    {{- range $newindex, $val := index $map "style_opts" -}}
      {{- range $i, $e := $.items -}}
      data-item-custom{{- $index -}}-name="Item"
      data-item-custom{{- $index -}}-value="
          {{- $opt := index $e "name" -}}
          {{- $opt -}}
      "
      data-item-custom{{- $index -}}-type="readonly"
      {{- end -}} {{- "<!-- end option range -->" | safeHTML -}}
    {{- end -}} {{- "<!-- end inner counter range -->" | safeHTML -}}
  {{- end -}} {{- "<!-- end counter conditional -->" | safeHTML -}}

{{- end -}} {{- "<!-- end item range -->" | safeHTML -}}

  >
    Add to cart
  </a>
</div>