<!-- /// @group color option images /// -->
  {{- range $index, $base := .items -}}
    {{- range $index, $level1 := index $base "style_opts" -}}
      {{- range $index, $level2 := index $level1 "colors" -}}
        <!-- separate by name -->
          {{- with $level2.name -}}
            {{- with gt (len $level2.images) 1 -}}
              <div class="t-product-image__slider product_slider {{ index $level2.cid }}
              "> <!-- Slider main container -->
                {{- range $index, $level3 := index $level2 "images" -}}
                  <!-- //iterate over the images in slider -->
                    <div class="t-product-image__cell">
                      <img class="t-product-image__cell-image" data-index="{{- $index -}}" height="auto" width="300" src="{{ $level3.img }}" />
                    </div>
                {{ end }} <!-- end img range -->
              </div> <!-- end slider container -->
            {{- end -}} <!-- end with multiple images -->
            {{- with eq (len $level2.images) 1 -}}
              <div class="t-product-image single_image {{ index $level2.cid }}"> <!-- Slider main container -->
              {{ $level3 := $level2.images }}
              {{ with (index $level3 0).img }}
                <img class="t-product-image__cell-image" data-index="{{- $index -}}" height="auto" width="300" src="{{ . }}" />
                {{ end }}
              </div>
            {{- end -}} <!-- end with single image -->
          {{- end -}} <!-- end color name separation(with) -->

      {{- end -}} <!-- end level2 "colors" -->
    {{- end -}} <!-- end level1 "key" -->
  {{- end -}} <!-- end range base -->
<!-- /// @end color option images /// -->