{{- with gt (len .color.product.cid) 1 -}}
  <div class="product_opt color product">
    <label for="{{- $.brand_id -}}{{- $.id -}}_pc">
      Product Color: <br>
    </label>
    <ul class="product_opt__list">
      {{- range $index, $color := $.color.product.cid -}}
        <li class="product_opt__list-item"><a class="product_opt__list-item--target product_select color product {{ $color }} {{ with eq $index 0 }}is-selected{{ end }}" href="#" title="{{- index $.color.product.name $index -}}">{{- index $.color.product.name $index -}}</a></li>
      {{- end -}} <!-- end product color range -->
    </ul>         
  </div>
{{- end -}} <!-- end product color selector -->


{{- with eq (len .color.product.name) 1 -}}
  {{- range $e := $.color.product.name -}}
    {{- $option := index $e -}}
    {{ if ne $option "" }}
      <div class="product_opt color product">
        Product Color: <div style="color: rgba(254, 214, 48, 1);"> {{- $option -}}</div>
      </div> 
    {{ end }} <!-- end if -->
  {{- end -}} <!-- end range -->
{{- end -}} <!-- end product color selector -->