<footer>
<!-- About -->
  {{ with .Site.Params.intro.about }}
    <section class="c-site-info">
      <h2 class="o-section-heading subheading">About</h2>
      <p>{{ . }}</p>

      <ul class="o-list--bare u-align-right@lg u-space-30">
        <li class="button__bg-solid"><a href="/about" class="">Learn More</a></li>
      </ul>
    </section>
  {{ end }}
  <small>
    <div class="copyright footer__1@lg u-space-30" data-layout="u-1@lg">
      {{ partial "copyright.html" . }}
    </div>
  </small>
</footer>

{{ partial "scripts.html" . }}

</body>
</html>
