
  <div class="single-product" style="">
    <div class="t-product-image">
      {{ with .color.logo }}
        <!-- Slider main container -->
        <div class="swiper-container ">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            {{ range $index, $lcpic := $.color.logo  }}
              <!-- Slides -->
              <div class="swiper-slide">                
                <img class="lcpic$index" height="auto" width="300" src="{{ index $lcpic.images }}" />
              </div>
            {{ end }} <!-- end color range -->
          </div>
          
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          
          <!-- If we need pagination -->
          <!-- <div class="swiper-pagination"></div> -->
        </div>
      {{ end }} <!-- end if logo color -->
    </div>
    <div class="t-product-details">
      <h3 class="t-product-heading">{{ .title }}</h3>
      <div class="t-product-content">
        <div class="price__cover">{{ .price }}</div>
        <p>{{ .description | markdownify }}</p>
      </div>
      <hr>
      <div class="t-product-options">
        {{ with gt (len .color.logo) 1 }}
          <div class="product_opt product_color--logo">
            <label for="{{ $.brand_id }}{{ $.id }}_lc">
              Logo Color: <br>
              <select class="product_select" id="{{ $.brand_id }}{{ $.id }}_lc">
                {{ range $index, $color := $.color.logo }}
                  <option class="{{ $color.cid }}" value="{{ index $color "name" }}">{{ index $color "name" }}</option>
                {{ end }} <!-- end size range -->
              </select>
            </label>
          </div>
        {{ else }}
          <div class="product_opt color logo">
            Logo Color: <br> {{- range $e := .color.logo -}}{{- $option := index $e "name" -}}{{- $option -}}{{- end -}}
          </div>
        {{ end }} <!-- end color selection -->
        {{ with gt (len .color.product) 1 }}
          <div class="product_opt product_color--product">
            <label for="{{ $.brand_id }}{{ $.id }}_pc">
            Product Color: <br>
              <select data-placeholder="Product Color" data-type="select" title ="Select Product Color" class="product_select color product" id="{{ $.brand_id }}{{ $.id }}_pc">
                {{ range $index, $color := $.color.product }}
                  <option class="{{ $color.cid }}" value="{{ index $color "name" }}">{{ index $color "name" }}</option>
                {{ end }} <!-- end size range -->
              </select>
            </label>
          </div>
        {{ else }}
          <div class="product_opt color product">
            Product Color: <div style="color: rgba(254, 214, 48, 1);"> {{- range $e := .color.product -}}{{- $option := index $e "name" -}}{{- $option -}}{{- end -}}</div>
          </div>
        {{ end }} <!-- end color selection -->
        {{ with .product_size }}
          <div class="product_opt product_size">
            <label for="{{ $.brand_id }}{{ $.id }}_size">
              Size: <br>
              <select data-placeholder="Size" data-type="select" title ="Select Product Size" class="product_select size" id="{{ $.brand_id }}{{ $.id }}_size">
                {{ range $index, $size := $.product_size }}
                  <option class="{{ $size | urlize }}" value="{{ index $.product_size $index }}">{{ index $.product_size $index }}</option>
                {{ end }} <!-- end size range -->
              </select>
            </label>
          </div>
        {{ end }} <!-- end with product sizes -->

        <!-- product quantity -->
        <div class="product_opt product_quantity">
          <label for="{{ $.brand_id }}{{ $.id }}_quantity">Quantity: </label><br><input class="product_input quantity" id="{{ $.brand_id }}{{ $.id }}_quantity" type="number" value="1"/>
        </div>

        <p class="add-to-cart">
          <a href="#"
          class="snipcart-add-item"
          data-item-id="{{ .id }}"
          data-item-name="{{ .title }}"
          data-item-image=""
          data-item-price="{{ .price }}"
          data-item-quantity = "1"
          data-item-weight="{{ .weight }}"
          data-item-url="{{ .url }}"
          data-item-custom1-name="Size"
          data-item-custom1-options="{{ delimit .product_size "|" }}"
          data-item-custom2-name="Logo Color"
          data-item-custom2-options="
            {{- range $i, $e := .color.logo -}}
              {{- $option := index $e "name" -}}
              {{- if $i -}}| 
              {{- end -}}
              {{- $option -}}
            {{- end -}}
          "
          data-item-custom3-name="Product Color"
          data-item-custom3-options="
            {{- range $i, $e := .color.product -}}
              {{- $option := index $e "name" -}}
              {{- if $i -}}| 
              {{- end -}}
              {{- $option -}}
            {{- end -}}
          ">
            Add to cart
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="js-event-log"></div>



  