<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<!-- products sliders -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- // touch friendly select elements -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selectboxit/3.8.0/jquery.selectBoxIt.min.js"></script>

<script src="https://use.fontawesome.com/6db59a8e72.js"></script>

<!-- shopping cart -->
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NGUwM2U3ZjEtODMwZC00OWUzLTlhZmItYzg1OGNhZTIzY2U2NjM2MDcyNzc3MzA3ODkxNzgy"></script>

<!-- // product image slider -->

<!-- // initialize scripts -->
<script src="/js/main.js"></script>