{{- partial "header.html" . -}}
{{- $baseurl := .Site.BaseURL -}}
  <main class="page__body" role="main">
    <div class="page__body__content-area product__gallery o-list--bare">
      {{- range $index, $products := $.Site.Data.products -}}
        {{- $brandid := $.Params.brand_id -}}
        {{- if and (eq .brand_id ($brandid)) (eq .active "true") -}}
          <div class="single-product
            {{ if or (gt (len .color.product) 1) (gt (len .color.logo) 1) }}
              o-slider-container
            {{ end }}
          " style="">
            <div class="t-product-image__section">
              <!-- check if there are multiple images of either the logo, or the product -->
              {{- if or (gt (len .color.product) 1) (gt (len .color.logo) 1) -}}
                {{- partial "_product-image_slider.html" . -}}
              {{- end -}} <!-- end with multiple image -->
            </div>  
            <div class="t-product-details">
              {{- partial "_product-info.html" . -}}
              <div class="t-product-options">
                {{- partial "_product-color_logo.html" . -}}
                {{- partial "_product-color_apparel.html" . -}}
                {{- partial "_product_size.html" . -}}
                {{- partial "_product_quantity.html" . -}}
                {{- partial "_product_cart-button.html" . -}}
              </div>
            </div>
          </div>
        {{- end -}} <!-- end brand selection -->
      {{- end -}} <!-- end range -->
    </div>
  </main>
{{- partial "footer.html" . -}}